<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="../public/swiper-bundle.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Store</title>
  <link rel="shortcut icon" href="../public/images/logo1.png" type="image/x-icon">
</head>
<body>
  <header>
    <div id="menu" class="fas fa-bars"></div>
    <a href="#" class="logo"><i class="fas fa-bone"></i>Pet store</a>

    <nav class="navbar">
      <a href="index.html">home</a>
      <a href="#category">category</a>
      <a href="#featured">featured</a>
      <a href="#product">product</a>
      <a href="#offer">offer</a>
      <a href="#contact">contact</a>
    </nav>
    <div class="icons">
      <i class="fas fa-search" id="search-icon"></i>
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
    </div>
    <form action="" id="search-box">
      <input type="search" id="search" placeholder="search here">
      <label for="search" class="fas fa-search"></label> 

    </form>
  </header>
  <section class="contact" id="contact">
    <h1 class="heading"><i class="fas fa-paw"></i> Contact us <i class="fas fa-paw"></i></h1>
    <form action="">
      <div class="inputBox">
        <input type="text" placeholder="name">
        <input type="email" placeholder="email">
      </div>
      <div class="inputBox">
        <input type="number" placeholder="number">
        <input type="text" placeholder="subject">
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
      <input type="submit" value="send message" class="btn">
    </form>
  </section>
  <section class="footer">
    <div class="share">
      <a href="contact.html" class="btn">
        <i class="fa-solid fa-phone"></i>
      </a>
      <a href="https://www.youtube.com/" class="btn">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.facebook.com/" class="btn">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/?lang=en" class="btn">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/" class="btn">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <h1 class="credit">| All Rights Reserved |</h1>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="../src/swiper-bundle.min.js"></script>
  <script src="../src/main.js"></script>
</body>
</html>