<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="../public/swiper-bundle.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Store</title>
  <link rel="shortcut icon" href="../public/images/logo1.png" type="image/x-icon">
</head>
<body>
  <header>
    <div id="menu" class="fas fa-bars"></div>
    <a href="#" class="logo"><i class="fas fa-bone"></i>Pet store</a>

    <nav class="navbar">
      <a href="index.hbs">home</a>
      <a href="#featured">featured</a>
      <a href="#product">product</a>
      <a href="#offer">offer</a>
      <a href="contact.hbs">contact</a>
    </nav>
    <div class="icons">
      <i class="fas fa-search" id="search-icon"></i>
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
    </div>
    <form action="" id="search-box">
      <input type="search" id="search" placeholder="search here">
      <label for="search" class="fas fa-search"></label> 

    </form>
  </header>
  <section class="deal">
    <div class="swiper deal-container"> 
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../public/images/offer3.png" alt="" class="ob">
        </div>
        <div class="swiper-slide">
          <img src="../public/images/offer2.webp" alt="" class="ob">
        </div>
        <div class="swiper-slide">
          <img src="../public/images/offer1.webp" alt="" class="ob">
        </div>
        <div class="swiper-slide">
          <img src="../public/images/offer4.png" alt="" class="ob">
        </div>
        <div class="swiper-slide">
          <img src="../public/images/offer5.jpg" alt="" class="ob">
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>  
    </div>
</section>
<section class="offer" id="offer">
  <h1 class="heading"><i class="fas fa-paw"></i> Dog Treats <i class="fas fa-paw"></i></h1>
  <div class="box-container">
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/treats1.webp" alt="">
      <div class="content">
        <h3>Pedigree Chicken Flavour Dog Treats</h3>
        <p>upto 30% off</p>
        <span   id="offer_price">₹140</span><span  id="price">   ₹200</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/treats2.webp" alt="">
      <div class="content">
        <h3>Drools Absolute Calcium Bone</h3>
        <p>upto 50% off</p>
        <span   id="offer_price">₹150</span><span  id="price">   ₹300</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/treats3.webp" alt="">
      <div class="content">
        <h3>Kennel Chicken Dental Dog Treats</h3>
        <p>upto 25% off</p>
        <span   id="offer_price">₹112.5</span><span  id="price">   ₹150</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/treats4.webp" alt="">
      <div class="content">
        <h3>Himalaya Chicken Treats for Puppies</h3>
        <p>upto 40% off</p>
        <span   id="offer_price">₹180</span><span  id="price">   ₹300</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/treats5.webp" alt="">
      <div class="content">
        <h3>Drools Calcium Bones for Dogs</h3>
        <p>upto 45% off</p>
        <span   id="offer_price">₹280</span><span  id="price">   ₹500</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/treats6.webp" alt="">
      <div class="content">
        <h3>Pedigree Denatastix Care for Adult Dog</h3>
        <p>upto 60% off</p>
        <span   id="offer_price">₹40</span><span  id="price">   ₹100</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
  </div>
</section>
<section class="offer" id="offer">
  <h1 class="heading"><i class="fas fa-paw"></i>ROYAL CANIN <i class="fas fa-paw"></i></h1>
  <div class="box-container">
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/dogfood1.webp" alt="">
      <div class="content">
        <h3>Maxi Puppy Dry Dog Food (1kg)</h3>
        <p>upto 12% off</p>
        <span   id="offer_price">₹880</span><span  id="price">   ₹1000</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/dogfood2.webp" alt="">
      <div class="content">
        <h3>Shih Tzu Adult Dry Dog Food (1kg)</h3>
        <p>upto 12% off</p>
        <span   id="offer_price">₹1404</span><span  id="price">   ₹1300</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/dogfood3.webp" alt="">
      <div class="content">
        <h3>Golden Retriever Puppy Dry Dog Food (1kg) </h3>
        <p>upto 12% off</p>
        <span   id="offer_price">₹968</span><span  id="price">   ₹1100</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/dogfood4.webp" alt="">
      <div class="content">
        <h3>German Shepard Dry Dog Food</h3>
        <p>upto 12% off</p>
        <span   id="offer_price">₹968</span><span  id="price">   ₹1100</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/dogfood5.webp" alt="">
      <div class="content">
        <h3>Labrador Retriever Puppy Dry Dog Food (1kg)</h3>
        <p>upto 12% off</p>
        <span   id="offer_price">₹968</span><span  id="price">   ₹1100</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
    <div class="box">
      <div class="heart"><i class="fa-regular fa-heart"></i></div>
      <img src="../public/images/dogfood6.webp" alt="">
      <div class="content">
        <h3>Max Starter Dry Dog Food (1kg)</h3>
        <p>upto 12% off</p>
        <span   id="offer_price">₹924</span><span  id="price">   ₹1050</span>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="share">
    <a href="contact.html" class="btn">
      <i class="fa-solid fa-phone"></i>
    </a>
    <a href="https://www.youtube.com/" class="btn">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.facebook.com/" class="btn">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://twitter.com/?lang=en" class="btn">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/" class="btn">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <h1 class="credit">| All Rights Reserved |</h1>
</section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="../src/swiper-bundle.min.js"></script>
  <script src="../src/main.js"></script>
</body>
</html>